# Security Protocols Formal Modeling & Verification

[TOC]



## Res
### Related Topics
↗ [Protocol & Policy Security](../../🗂️%20Protocol%20&%20Policy%20Security/Protocol%20&%20Policy%20Security.md)

↗ [Mathematical Modeling & Abstraction](../../../../../../../🧮%20Mathematics/Mathematical%20Modeling%20&%20Abstraction.md)
↗ [(Formal) Model Checking](../🧳%20(Formal)%20Model%20Checking/(Formal)%20Model%20Checking.md)
↗ [AnB (Alice and Bob) Notation & AnBx Langauges](../../../../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/Other%20Languages%20for%20Specific%20Areas/Formal%20Verification%20&%20Analysis%20Programming%20Languages/AnB%20(Alice%20and%20Bob)%20Notation%20&%20AnBx%20Langauges.md)

↗ [Mathematical Logic (Foundations of Mathematics)](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/Mathematical%20Logic%20(Foundations%20of%20Mathematics).md)
↗ [Formal System, Formal Logics, and Its Semantics](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/📍%20Formal%20System,%20Formal%20Logics,%20and%20Its%20Semantics/Formal%20System,%20Formal%20Logics,%20and%20Its%20Semantics.md)
↗ [Proof Theory](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/Proof%20Theory/Proof%20Theory.md)

↗ [Mechanized (Formal) Reasoning & Automated Reasoning (Inference)](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/Mechanized%20(Formal)%20Reasoning%20&%20Automated%20Reasoning%20(Inference)/Mechanized%20(Formal)%20Reasoning%20&%20Automated%20Reasoning%20(Inference).md)

↗ [Cryptology & Secure Communication](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptology%20&%20Secure%20Communication.md)
- ↗ [Cryptography](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/🤐%20Cryptography/Cryptography.md)
- ↗ [Cryptology Applications](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptology%20Applications.md)
- ↗ [Cryptographic Attacks & Rubber-Hose Cryptanalysis](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/🤮%20Cryptanalysis/Cryptographic%20Attacks%20&%20Rubber-Hose%20Cryptanalysis.md)
- ↗ [Cryptographic Protocols Modeling & Models of Communication (and Intruder)](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder).md) ⭐

↗ [Problem Solving & Search-Based Methods](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Problem%20Solving%20&%20Search-Based%20Methods.md)
↗ [Constraint Based Search & Constraint Programming & Constraint Satisfaction](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction.md)
- ↗ [Constraint Satisfaction Problems (CSPs)](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Satisfaction%20Problems%20(CSPs).md)
↗ [Constraint Solving & Theorem Proving](../🎮%20Constraint%20Solving%20&%20Theorem%20Proving/Constraint%20Solving%20&%20Theorem%20Proving.md)

↗ [Risk Countermeasures & Security Control](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Risk%20Countermeasures%20&%20Security%20Control.md)
- ↗ [Identity & Access Management (IAM)](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Identity%20&%20Access%20Management%20(IAM).md)
	- ↗ [Access Control (访问控制)](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Access%20Control%20(访问控制)/Access%20Control%20(访问控制).md)
	- ↗ [Access Control Models](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Access%20Control%20(访问控制)/📌%20Access%20Control%20Models/Access%20Control%20Models.md)

↗ [SCA (Static Code Analysis) & SAST](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Software%20(Program)%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/SCA%20(Static%20Code%20Analysis)%20&%20SAST.md)
- ↗ [Data Flow Analysis](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Software%20(Program)%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/Data%20Flow%20Analysis/Data%20Flow%20Analysis.md)
- ↗ [🧑🏻‍🦽‍➡️ Information Flow Control, Analysis, and Security](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Software%20(Program)%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/Data%20Flow%20Analysis/🧑🏻‍🦽‍➡️%20Information%20Flow%20Control,%20Analysis,%20and%20Security/🧑🏻‍🦽‍➡️%20Information%20Flow%20Control,%20Analysis,%20and%20Security.md)

↗ [Static Code Analysis Tools (SCAT)](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/⛰️%20Static%20Code%20Analysis%20Tools%20(SCAT)/Static%20Code%20Analysis%20Tools%20(SCAT).md) "model checker"
- ↗ [OFMC (Open-Source Fixed-Point Model-Checker)](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/🤼%20Model%20Checker/OFMC%20(Open-Source%20Fixed-Point%20Model-Checker).md)

↗ [Formal Verifications & Constraint Solvers (Proof Assistants)](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants).md)
- ↗ [Automated & Generic Theorem Provers](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Automated%20&%20Generic%20Theorem%20Provers/Automated%20&%20Generic%20Theorem%20Provers.md)
	- ↗ [Isabelle & Isar Language](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Automated%20&%20Generic%20Theorem%20Provers/Isabelle%20&%20Isar%20Language.md)
	- ↗ [HOL Interactive Theorem Prover](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Automated%20&%20Generic%20Theorem%20Provers/HOL%20Interactive%20Theorem%20Prover.md)
- ↗ [SMT (Satisfiability Modulo Theory) Solvers](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/SMT%20(Satisfiability%20Modulo%20Theory)%20Solvers/SMT%20(Satisfiability%20Modulo%20Theory)%20Solvers.md)

↗ [Security Programming & Security Product Development](../../../../../Security%20Programming%20&%20Security%20Product%20Development/Security%20Programming%20&%20Security%20Product%20Development.md)

↗ [Zero-Knowledge Proof (ZKP)](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Access%20Control%20(访问控制)/Authentication%20(身份鉴别)/Human-Oriented%20Authentication%20(鉴别对象为人)/Zero-Knowledge%20Proof%20(ZKP)/Zero-Knowledge%20Proof%20(ZKP).md)


### Learning Resources
https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
https://www.imm.dtu.dk/~samo/OFMC-tutorial.pdf# (Spring 2018)
Protocol Security Verification Tutorial
Sebastian M ̈odersheim,
DTU Compute, samo@dtu.dkSpring 2018
- This tutorial gives an introduction to modeling security protocols and the methods for automated verification that is hopefully easier accessible than research papers. For concreteness it uses OFMC, an automated protocol verification tool written by the author, and thus this document also serves as a user manual for OFMC. Several other methods and tools are briefly discussed in order to give a broader perspective.
- OFMC [Manual](https://paolo.science/anbxtutorial/tools/ofmc-manual.pdf) and [Tutorial](https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf) (S.Mödersheim)

https://archiv.infsec.ethz.ch/education/as09/fmsec.html
Formal Methods for Information Security
[263-4600-00L](http://www.vvz.ethz.ch/Vorlesungsverzeichnis/lerneinheitPre.do?lerneinheitId=63189&semkez=2009W&lang=en) (2V + 1U) Autumn Semester 2009
**Lecturers and Tutors:** [Sebastian Mödersheim](http://www.zurich.ibm.com/~smo/) and [Christoph Sprenger](https://archiv.infsec.ethz.ch/people/csprenge.html)
- The lecture treats formal and cryptographic methods for the modelling and analysis of security-critical systems. The first and main part of the lecture will concentrate on cryptographic protocols. Cryptographic protocols such as SSL/TLS, SSH, Kerberos and IPSec, form the basis for secure communication and business processes. Numerous attacks on published protocols, such as public-key Kerberos, show that the design of these protocols is extremely error-prone. A rigorous analysis of these protocols is therefore indispensable. Besides an overview of existing analysis methods and tools the lecture will convey the theoretical basis and functioning of some selected methods and tools. The tutorials offer the possibility of applying some tools on concrete protocols. The second part of the lecture will be concerned with formal methods in other parts of information security such as access control.

Colin Boyd and Anish Mathuria. Protocols for Authentication and Key Establishment, Springer, 2003.


### Other Resources
https://arxiv.org/pdf/1101.1815
Approaches to Formal Verification of Security Protocols
Suvansh Lal, Mohit Jain, Vikrant Chaplot
Dhirubhai Ambani Institute of Information and Communication Technology
- To achieve our objective we introduce four well known verification approaches – 1) the **sequential programming** approach; 2 )the **logic programming** approach; 3) the **strand spaces** approach and the 4) **belief based** approach – falling under the broader domains of **model checking** and **logical inference**. Each of the above mention methodologies are applied to formally verify the Needham Schroeder Public Key protocol [3] for Lowe’s attack[4]. In the process of doing so, we compare these approaches for their specification ease, competence in determining complex security flaws; and computational costs. We also make an explicit mention of the advantages and limitations of using these approaches in verifying similar systems.



## Intro
> [!links]
> ↗ [(Formal) Model Checking](../🧳%20(Formal)%20Model%20Checking/(Formal)%20Model%20Checking.md)
> ↗ [Constraint Solving & Theorem Proving](../🎮%20Constraint%20Solving%20&%20Theorem%20Proving/Constraint%20Solving%20&%20Theorem%20Proving.md)
> 
> ↗ [Problem Solving & Search-Based Methods](../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Problem%20Solving%20&%20Search-Based%20Methods.md)
> ↗ [Constraint Based Search & Constraint Programming & Constraint Satisfaction](../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction.md)

 >[!quote]
 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >
 >This tutorial gives an introduction to modeling security protocols and the methods for automated verification that is hopefully easier accessible than research papers. For concreteness it uses OFMC, an automated protocol verification tool written by the author, and thus this document also serves as a tutorial for OFMC. Several other methods and tools are briefly discussed in order to give a broader perspective.
 >
 >In the first part, we will entirely focus on **precisely describing security protocols**, their security goals and a model of the intruder, so that “the protocol is secure” is a **mathematical statement** that is either true or false, and there is a chance to prove or disprove this statement. Disprove also entails finding a **counter-example** to security: an attack.
 >
 >The second part is concerned with methods to automatically find the correct answer, i.e., to find a proof of security or an attack. This is difficult since in general there will be an infinite number of things that can happen in a protocol, so that exhaustive search is impossible. Even under reasonable restrictions that make the search space finite, this is often still practically infeasible. We will focus on two techniques that can in practice often deal well with protocol security problems. One is based on **symbolic representation with constraints** and it can often find attacks quickly; the other is based on **abstract interpretation** and it can often find proofs of security. We will also discuss why the problem is in general undecidable, i.e., there is no hope for finding any verification method that will always answer correctly for all protocols.
 >
 >In the third part, two more advanced topics, namely **channels** and **compositionality**. The idea is that on the Internet we use a lot of protocols in parallel and in a stacked fashion, e.g., using TLS to establish a secure channel and run a banking application over that channel. While one could theoretically verify such a composed system, this becomes easily too complex to handle. Also, we would like protocol designers to design a protocol like TLS independent of the actually payload protocols that it will be used for later. The key of compositional reasoning is to just allow this component-wise development, i.e., that the composed system is secure if the components are.


### Protocol Security Overview
“Logical Hacking” and Security Proofs
- What is an “attack”? (and what is not?)
- How can we automatically find attacks?
- How can we prove the security of a system?
	- ... not just with respect to currently known attacks, but against any attacks!
	- Is that even possible?
	- Can we do that even automatically?
- How can we build systems that are secure? 
	- This requires a precise definitions of
		- the systems in questions
		- its goals
		- the assumptions (in particular, the intruder)

Overview of Problem Areas
- Example: Alice wants to tell her bank to transfer 1000 Kr. to Bob.
	- What are the involved goals?
		- Authentication/Integrity
		- Confidentiality/Privacy
		- Accountability/Non-repudiation
	- Involved Cryptographic Protocols: (could be)
		- TLS
		- The banking application
		- Some login like MitID (also over TLS? Same session?)
	- Implementation
		- Crypto API
		- All the non-crypto aspects, like parsing message formats.
	- Other layers
		- Design and implementation of policies
		- Operating system, compiler
		- Hardware, TPMs
		- Network layer


### Alice and Bob Notation & AnB Language
↗ [Formal Verification & Analysis Programming Languages](../../../../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/Other%20Languages%20for%20Specific%20Areas/Formal%20Verification%20&%20Analysis%20Programming%20Languages/Formal%20Verification%20&%20Analysis%20Programming%20Languages.md)
- ↗ [AnB (Alice and Bob) Notation & AnBx Langauges](../../../../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/Other%20Languages%20for%20Specific%20Areas/Formal%20Verification%20&%20Analysis%20Programming%20Languages/AnB%20(Alice%20and%20Bob)%20Notation%20&%20AnBx%20Langauges.md)


### From Alice and Bob to Strands – Intuition
↗ [AnB (Alice and Bob) Notation & AnBx Langauges](../../../../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/Other%20Languages%20for%20Specific%20Areas/Formal%20Verification%20&%20Analysis%20Programming%20Languages/AnB%20(Alice%20and%20Bob)%20Notation%20&%20AnBx%20Langauges.md)
↗ [Strand Spaces Model](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Symbolic%20(Formal)%20Models/Strand%20Spaces%20Model.md)



## 🎯 Security Protocols Modeling & Intruder Models
↗ [Cryptographic Protocols Modeling & Verification](Cryptographic%20Protocols%20Modeling%20&%20Verification/Cryptographic%20Protocols%20Modeling%20&%20Verification.md)

↗ [Cryptology & Secure Communication](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptology%20&%20Secure%20Communication.md)
- ↗ [Cryptography](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/🤐%20Cryptography/Cryptography.md)
- ↗ [Cryptographic Protocols Modeling & Models of Communication (and Intruder)](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder).md)
	- ↗ [Dolev–Yao (DY) Model & Extended Dolev–Yao Models](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Symbolic%20(Formal)%20Models/Dolev–Yao%20(DY)%20Model%20&%20Extended%20Dolev–Yao%20Models.md)

↗ [Term Algebra & Free Algebra](../../../../../../../🧮%20Mathematics/🧊%20Algebra/🎃%20Algebraic%20Structure%20&%20Abstract%20Algebra%20&%20Modern%20Algebra/👽%20Universal%20Algebra%20(泛代数)/Term%20Algebra%20&%20Free%20Algebra.md)


### Basic Models
#### The Shannon-Weaver Model of Communication
> [!links]
> ↗ [Shannon–Weaver Model](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Information-Theoretic%20Models/Shannon–Weaver%20Model.md)
#### The Dolev-Yao Intruder Model
> [!links]
> ↗ [Dolev–Yao (DY) Model & Extended Dolev–Yao Models](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Symbolic%20(Formal)%20Models/Dolev–Yao%20(DY)%20Model%20&%20Extended%20Dolev–Yao%20Models.md)


### Transition Systems Semantics of Security Protocol Models
> [!links]
> ↗ [Models of Computation & Abstract Machines](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/😶‍🌫️%20Theory%20of%20Computation/Models%20of%20Computation%20&%20Abstract%20Machines/Models%20of%20Computation%20&%20Abstract%20Machines.md)


### Modeling Security Goals
> [!links]
> ↗ [Cybersecurity Basics & InfoSec](../../../../../Cybersecurity%20Basics%20&%20InfoSec.md)
> ↗ [CIA Threats & Countermeasures](../../../../../../⛈️%20Risk%20Management/🐗%20Cybersecurity%20Threats%20&%20Attacks/CIA%20Threats%20&%20Countermeasures.md)

 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >Chapter 9.
 >
 >We now define formally secrecy and authentication goals for protocols. There are of course many other interesting goals, such as sender invariance, anonymity, privacy, non-repudiation, and availability. Some of these we will actually discuss later, but they require additional measures and infrastructure, so for now we only focus on the basic goals.

#### Secrecy

#### Authentication

#### Sender Invariance

#### Anonymity

#### Privacy

#### Non-Repudiation

#### Availability



## 🎯 Automated Verification of Security Protocols
> [!links]
> ↗ [Software (Program) Verification](../Software%20(Program)%20Verification/Software%20(Program)%20Verification.md)
> ↗ [(Formal) Model Checking](../🧳%20(Formal)%20Model%20Checking/(Formal)%20Model%20Checking.md)


### Introduction
 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >Chapter 11. Automated Verification. Introduction

It would be great to have a general verification procedure for computer programs. Such a procedure would receive as input a program $P$ (choose your favorite programming language¹¹) and a specification what the program should compute. A specification should in some way describe a function from inputs to desired outputs of the program. For instance a program for sorting integers should as input receive a list of integers and as output return a permutation of the input list that is in ascending order. In general, a specification give the programmer even more freedom and specify a set $S$ of functions and it is fine if the program computes one of the functions of $S$. We do not discuss here how a language or logic for describing $S$ could look like, because it will be irrelevant for our point. The question that we want to solve is the following:

> [!Definition]
> **Definition 17.** *Given a set $S$ of computable functions, then an $S$-verifier is an algorithm that gets a program $P$ as input and returns yes if $P$ computes a function in $S$, and no otherwise.*

The following theorem tells us that we cannot even conceive such an algorithm for any $S$ – with two trivial exceptions.

> [!Theorem]
> **Theorem 2 (Rice).** *Let $S$ be any set of computable functions, except for the emptyset and the set of all computable functions. Then there is no $S$-verifier.*

It is important to keep this principle limitation in mind, because it appears in similar shape again and again, and one can save a lot of time if one recognizes earlier that the problem one tries to solve is actually undecidable. Many questions of logic and mathematics fall into this: it would be nice to have procedures to tell us whether a claimed statement is actually true (i.e., prove that it is a theorem) or not (and give a counter-example).

The principle limitation does not mean, however, that one cannot solve practically relevant parts of the problem, in particular
- identifying restrictions under which the problem becomes decidable, i.e., deciding a fragment of the problem;
- procedures that on some inputs give the answer *Inconclusive* (instead of yes or no) or do not terminate. In particular  
	- Procedures may be focused on finding counter-examples (attacks, in our case) and be inconclusive or non-terminating on correct inputs.  
	- Procedures may be focused on proving correctness and use some over-approximation. They may then fail to find a correctness proof or even present a counter-example that could be a *false positive*, i.e., a counter-example that arises from the over-approximation.
#### The Sources of Infinity

#### An Undecidability Result


### Symbolic Analysis & Constraint Solving (Finding Attacks)
> [!links]
> ↗ [Constraint Solving & Theorem Proving](../🎮%20Constraint%20Solving%20&%20Theorem%20Proving/Constraint%20Solving%20&%20Theorem%20Proving.md)
> ↗ [Constraint Based Search & Constraint Programming & Constraint Satisfaction](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction.md)
> ↗ [Constraint Satisfaction Problems (CSPs)](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Satisfaction%20Problems%20(CSPs).md)
> 
> ↗ [SCA (Static Code Analysis) & SAST](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Software%20(Program)%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/SCA%20(Static%20Code%20Analysis)%20&%20SAST.md)
> ↗ [Symbolic Execution & Concolic Execution (SSE & DSE)](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Software%20(Program)%20Analysis%20Basics/👙%20DCA%20(Dynamic%20Code%20Analysis)%20&%20DAST/Symbolic%20Execution%20&%20Concolic%20Execution%20(SSE%20&%20DSE)/Symbolic%20Execution%20&%20Concolic%20Execution%20(SSE%20&%20DSE).md)
> ↗ [Formal Verifications & Constraint Solvers (Proof Assistants)](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants).md)
#### Symbolic Transition Systems
 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >Chapter 12

#### The Lazy Intruder Model
 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >Chapter 13

We first define the meaning of lazy intruder constraints and then show how to solve them.

> [!Definition]
> **Definition 21.** An ==intruder constraint== is a strand where all variables are free, i.e., all variables first occur in an outgoing message.*
> 
> At any point $\bullet$ in the constraint, the ==intruder knowledge== at that point is the set of all messages received so far.
> 
> Given an intruder constraint $C$, and $\sigma$ a substitution of all its free variables with ground terms. Then $\sigma$ is called a ==solution== of $C$ iff:
> - for every outgoing message $m$ of $C$, it holds that $\sigma(M) \vdash \sigma(m)$ where $M$ is the intruder knowledge at that point.


**Example 21.** *Consider again the constraint in from the NSPK example. Let us label the intruder knowledge at different points $M_0, \ldots, M_2$:*

```tikz
\usepackage{amsmath}
\usepackage{xcolor}
\usetikzlibrary{arrows.meta,positioning}

\begin{document}
\begin{tikzpicture}[
  font=\large,
  msg/.style={-Latex, line width=0.7pt},
  back/.style={-Latex, line width=0.7pt},
  dot/.style={circle, fill=black, inner sep=0pt, minimum size=6pt},
  lab/.style={midway, above, inner sep=2pt},
  labL/.style={pos=0.55, above, inner sep=2pt},
]

% Coordinates
\def\xL{-9.2}      % left start of messages
\def\xI{0}         % lifeline center
\def\xIsep{0.16}   % separation for the double lifeline
\def\xR{3.2}       % right side for M0/M1/M2

% Top label box "i"
\node[draw, minimum width=10mm, minimum height=10mm] (ibox) at (\xI+0.08, 1.0) {$i$};

% Lifeline (double vertical line)
\draw[line width=0.7pt] (\xI,0.6) -- (\xI,-9.6);
\draw[line width=0.7pt] (\xI+\xIsep,0.6) -- (\xI+\xIsep,-9.6);

% Y positions for events (top to bottom)
\coordinate (e0) at (\xI+0.08, 0.2);
\coordinate (e1) at (\xI+0.08,-1.1);
\coordinate (e2) at (\xI+0.08,-2.6);
\coordinate (e3) at (\xI+0.08,-4.1);
\coordinate (e4) at (\xI+0.08,-5.6);
\coordinate (e5) at (\xI+0.08,-7.1);
\coordinate (e6) at (\xI+0.08,-8.6);

% Event dots
\node[dot] at (e0) {};
\node[dot] at (e1) {};
\node[dot] at (e2) {};
\node[dot] at (e3) {};
\node[dot] at (e4) {};
\node[dot] at (e5) {};
\node[dot] at (e6) {};

% 1) a,b,i,pk(a),pk(b),pk(i),inv(pk(i))  -> i
\draw[msg] (\xL,0.2) -- (e0)
  node[lab] {$a,b,i,pk(a),pk(b),pk(i),inv(pk(i))$};

% 2) {n17,a}_{pk(i)} -> i   and M0 dotted
\draw[msg] (\xL,-1.1) -- (e1)
  node[lab] {$\{n17,a\}_{pk(i)}$};
\draw[densely dotted] (e1) -- (\xR,-1.1) node[right] {$M_0$};

% 3) i -> left : {NA,a}_{pk(b)}  (NA in red)
\draw[back] (e2) -- (\xL,-2.6)
  node[lab] {$\{\textcolor{red}{NA},a\}_{pk(b)}$};

% 4) {NA,n18}_{pk(a)} -> i  and M1 dotted
\draw[msg] (\xL,-4.1) -- (e3)
  node[lab] {$\{\textcolor{red}{NA},n18\}_{pk(a)}$};
\draw[densely dotted] (e3) -- (\xR,-4.1) node[right] {$M_1$};

% 5) i -> left : {n17,NB}_{pk(a)} (NB in red)
\draw[back] (e4) -- (\xL,-5.6)
  node[lab] {$\{n17,\textcolor{red}{NB}\}_{pk(a)}$};

% 6) {NB}_{pk(i)} -> i  and M2 dotted
\draw[msg] (\xL,-7.1) -- (e5)
  node[lab] {$\{\textcolor{red}{NB}\}_{pk(i)}$};
\draw[densely dotted] (e5) -- (\xR,-7.1) node[right] {$M_2$};

% 7) i -> left : n18 (blue)
\draw[back] (e6) -- (\xL,-8.6)
  node[lab] {$\textcolor{blue}{n18}$};

\end{tikzpicture}
\end{document}
```

The meaning of this constraint is any substitution $\sigma$ such that the following Dolev-Yao deductions hold:
$$ \begin{aligned}
M_0 &:= \{ a, b, i, pk(a), pk(b), pk(i), inv(pk(i)), \{n17, a\}_{pk(i)} \} \\[6pt]
\sigma(M_0) &\vdash \sigma(\{NA, a\}_{pk(b)}) \\[10pt]
M_1 &:= M_0 \cup \{\{NA, n18\}_{pk(a)}\} \\[6pt]
\sigma(M_1) &\vdash \sigma(\{n17, NB\}_{pk(a)}) \\[10pt]
M_2 &:= M_1 \cup \{\{NB\}_{pk(i)}\} \\[6pt]
\sigma(M_2) &\vdash \sigma(n18)
\end{aligned}
$$


### Abstract Interpretation (Finding Proofs)
> [!links]
> ↗ [Program Abstraction & Abstract Interpretation](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Software%20(Program)%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/🛗%20Program%20Abstraction%20&%20Abstract%20Interpretation/Program%20Abstraction%20&%20Abstract%20Interpretation.md)
#### A Example
 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >Chapter 14.1

#### Two Abstractions & Galois-Connection
 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >Chapter 14.2
 
We can actually distinguish two “abstractions” we have made in the above example:
- We have abstracted the fresh nonces into functions like na(A, B) and nb(B, A). This gives us essentially a finite number of nonces (whenever the number of honest agents is finite).
- We have completely disgarded the transition system: there is no notion of state anymore, but we rather talk only about what messages the intruder may obtain in any number of runs.

Formally, these two abstractions can be seen as a so-called Galois-connection. ^[Blanchet, Bruno. "Security protocols: from linear to classical logic by abstract interpretation." Information Processing Letters 95.5 (2005): 473-479.]



## Ref
