/*h2{
	align-content: space-around;

}*/

.cm-s-obsidian .cm-header-2, .markdown-preview-view h2, HyperMD-header-2{
	text-align: center;
	align-items: center;
/*	text-transform: uppercase;*/
/*	margin-top: 3rem	*/
}