/*  --------- rightside bar -------- */

/* 给左侧边栏文件夹前添加图标，""内图标和文件夹名称请自行修改 */
.nav-folder-title[data-path="CS"] .nav-folder-title-content::before {
    content: " 🖥️" !important;
    position: relative !important;
    right: 4px;
}

.nav-folder-title[data-path="Books"] .nav-folder-title-content::before {
    content: "📚" !important;
    position: relative !important;
    right: 4px;
}

.nav-folder-title[data-path="Assets"] .nav-folder-title-content::before {
    content: "📬" !important;
    position: relative !important;
    right: 4px;
}

.nav-folder-title[data-path="Curriculums"] .nav-folder-title-content::before {
    content: "🤓" !important;
    position: relative !important;
    right: 4px;
}

.nav-folder-title[data-path="Life"] .nav-folder-title-content::before {
    content: "🐼" !important;
    position: relative !important;
    right: 5px;
}


/*  --------- Preview mode -------- */

.markdown-preview-section h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;

    line-height: 5rem;
    margin: 0 0 1.75rem;
    padding: 20px 30px;
    text-align: center;
    margin-top: 4rem;
}

.markdown-preview-section h2
{
    text-align: center;
    font-size: 32px;

    line-height: 4rem;
    margin: 0 0 1.9375rem;
    padding: 0 30px;
    margin-top: 3rem
}

.markdown-preview-section h3
{
    font-size: 26px ;
    line-height: 3rem;
}

.markdown-preview-section h4
{
    font-size: 22px ;
    line-height: 3rem;
}

.markdown-preview-section h5
{
    font-size: 18px ;
    line-height: 3rem;
}

.markdown-preview-section h6
{
    font-size: 18px ;
}


/*  --------- Editing mode -------- */

.HyperMD-header.HyperMD-header-1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;

    line-height: 6rem;
    margin: 0 0 1.75rem;
    padding: 20px 30px;
    text-align: center;
    margin-top: 4rem;
}

.HyperMD-header.HyperMD-header-2 {
    text-align: center;
    font-size: 32px;

    line-height: 5rem;
    margin: 0 0 1.9375rem;
    padding: 0 30px;
    margin-top: 3rem
}

.HyperMD-header.HyperMD-header-3 {
    font-size: 26px;
    line-height: 3rem;
}

.HyperMD-header.HyperMD-header-4 {
    font-size: 22px;
    line-height: 3rem;
}

.HyperMD-header.HyperMD-header-5 {
    font-size: 18px;
    line-height: 3rem;
}

.HyperMD-header.HyperMD-header-6 {
    font-size: 18px;
}


