# Security Protocols Formal Modeling & Verification

[TOC]



## Res
### Related Topics
↗ [Protocol & Policy Security](../../🗂️%20Protocol%20&%20Policy%20Security/Protocol%20&%20Policy%20Security.md)

↗ [Mathematical Modeling & Abstraction](../../../../../../../🧮%20Mathematics/Mathematical%20Modeling%20&%20Abstraction.md)
↗ [(Formal) Model Checking](../🧳%20(Formal)%20Model%20Checking/(Formal)%20Model%20Checking.md)
↗ [AnB (Alice and Bob) Notation & AnBx Languages](../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/Other%20Languages%20for%20Specific%20Areas/Formal%20Verification%20&%20Analysis%20Programming%20Languages/AnB%20(Alice%20and%20Bob)%20Notation%20&%20AnBx%20Languages.md)

↗ [Mathematical Logic (Foundations of Mathematics)](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/Mathematical%20Logic%20(Foundations%20of%20Mathematics).md)
↗ [Formal System, Formal Logics, and Its Semantics](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/📍%20Formal%20System,%20Formal%20Logics,%20and%20Its%20Semantics/Formal%20System,%20Formal%20Logics,%20and%20Its%20Semantics.md)
↗ [Proof Theory](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/Proof%20Theory/Proof%20Theory.md)

↗ [Mechanized (Formal) Reasoning & Automated Reasoning (Inference)](../../../../../../../🧮%20Mathematics/🤼‍♀️%20Mathematical%20Logic%20(Foundations%20of%20Mathematics)/Mechanized%20(Formal)%20Reasoning%20&%20Automated%20Reasoning%20(Inference)/Mechanized%20(Formal)%20Reasoning%20&%20Automated%20Reasoning%20(Inference).md)

↗ [Cryptology & Secure Communication](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptology%20&%20Secure%20Communication.md)
- ↗ [Cryptography](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/🤐%20Cryptography/Cryptography.md)
- ↗ [Cryptology Applications](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptology%20Applications.md)
- ↗ [Cryptographic Attacks & Rubber-Hose Cryptanalysis](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/🤮%20Cryptanalysis/Cryptographic%20Attacks%20&%20Rubber-Hose%20Cryptanalysis.md)
- ↗ [Cryptographic Protocols Modeling & Models of Communication (and Intruder)](../../../🚬%20Cryptology%20&%20Secure%20Communication/🛀%20Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder).md) ⭐

↗ [Problem Solving & Search-Based Methods](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Problem%20Solving%20&%20Search-Based%20Methods.md)
↗ [Constraint Based Search & Constraint Programming & Constraint Satisfaction](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction.md)
- ↗ [Constraint Satisfaction Problems (CSPs)](../../../../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Satisfaction%20Problems%20(CSPs).md)
↗ [Constraint Solving & Theorem Proving](../🎮%20Constraint%20Solving%20&%20Theorem%20Proving/Constraint%20Solving%20&%20Theorem%20Proving.md)

↗ [Risk Countermeasures & Security Control](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Risk%20Countermeasures%20&%20Security%20Control.md)
- ↗ [Identity & Access Management (IAM)](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Identity%20&%20Access%20Management%20(IAM).md)
	- ↗ [Access Control (访问控制)](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Access%20Control%20(访问控制)/Access%20Control%20(访问控制).md)
	- ↗ [Access Control Models](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Access%20Control%20(访问控制)/📌%20Access%20Control%20Models/Access%20Control%20Models.md)

↗ [SCA (Static Code Analysis) & SAST](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Program%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/SCA%20(Static%20Code%20Analysis)%20&%20SAST.md)
- ↗ [Data Flow Analysis](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Program%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/Data%20Flow%20Analysis/Data%20Flow%20Analysis.md)
- ↗ [🧑🏻‍🦽‍➡️ Information Flow Control, Analysis, and Security](../../🍦%20Software%20Security/🪆%20Software%20(Program)%20Techniques%20&%20Binary%20Engineering/📌%20Program%20Analysis%20Basics/👚%20SCA%20(Static%20Code%20Analysis)%20&%20SAST/Data%20Flow%20Analysis/🧑🏻‍🦽‍➡️%20Information%20Flow%20Control,%20Analysis,%20and%20Security/🧑🏻‍🦽‍➡️%20Information%20Flow%20Control,%20Analysis,%20and%20Security.md)

↗ [Static Code Analysis Tools (SCAT)](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/⛰️%20Static%20Code%20Analysis%20Tools%20(SCAT)/Static%20Code%20Analysis%20Tools%20(SCAT).md) "model checker"
- ↗ [OFMC (Open-Source Fixed-Point Model-Checker)](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/🤼%20Model%20Checker/OFMC%20(Open-Source%20Fixed-Point%20Model-Checker).md)

↗ [Formal Verifications & Constraint Solvers (Proof Assistants)](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants).md)
- ↗ [Automated & Generic Theorem Provers](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Automated%20&%20Generic%20Theorem%20Provers/Automated%20&%20Generic%20Theorem%20Provers.md)
	- ↗ [Isabelle & Isar Language](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Automated%20&%20Generic%20Theorem%20Provers/Isabelle%20&%20Isar%20Language.md)
	- ↗ [HOL Interactive Theorem Prover](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/Automated%20&%20Generic%20Theorem%20Provers/HOL%20Interactive%20Theorem%20Prover.md)
- ↗ [SMT (Satisfiability Modulo Theory) Solvers](../../../../../../☠️%20Kill%20Chain%20&%20Security%20Tool%20Box/🔞%20Software%20Analysis%20Tools/♊️%20Formal%20Verifications%20&%20Constraint%20Solvers%20(Proof%20Assistants)/SMT%20(Satisfiability%20Modulo%20Theory)%20Solvers/SMT%20(Satisfiability%20Modulo%20Theory)%20Solvers.md)

↗ [Security Programming & Security Product Development](../../Security%20Programming%20&%20Security%20Product%20Development/Security%20Programming%20&%20Security%20Product%20Development.md)

↗ [Zero-Knowledge Proof (ZKP)](../../../../../../⛈️%20Risk%20Management/🐺%20Risk%20Countermeasures%20&%20Security%20Control/Identity%20&%20Access%20Management%20(IAM)/Access%20Control%20(访问控制)/Authentication%20(身份鉴别)/Human-Oriented%20Authentication%20(鉴别对象为人)/Zero-Knowledge%20Proof%20(ZKP)/Zero-Knowledge%20Proof%20(ZKP).md)

↗ [Network (& Communication) Security](../../../Network%20(&%20Communication)%20Security/Network%20(&%20Communication)%20Security.md)
- ↗ [Network Security Protocol Stacks](../../../Network%20(&%20Communication)%20Security/Network%20Security%20Mechanisms/🏇%20Network%20Security%20Protocol%20Stacks/Network%20Security%20Protocol%20Stacks.md)


### Learning Resources
https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
https://www.imm.dtu.dk/~samo/OFMC-tutorial.pdf# (Spring 2018)
Protocol Security Verification Tutorial
Sebastian M ̈odersheim,
DTU Compute, samo@dtu.dkSpring 2018
- This tutorial gives an introduction to modeling security protocols and the methods for automated verification that is hopefully easier accessible than research papers. For concreteness it uses OFMC, an automated protocol verification tool written by the author, and thus this document also serves as a user manual for OFMC. Several other methods and tools are briefly discussed in order to give a broader perspective.
- OFMC [Manual](https://paolo.science/anbxtutorial/tools/ofmc-manual.pdf) and [Tutorial](https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf) (S.Mödersheim)

https://archiv.infsec.ethz.ch/education/as09/fmsec.html
Formal Methods for Information Security
[263-4600-00L](http://www.vvz.ethz.ch/Vorlesungsverzeichnis/lerneinheitPre.do?lerneinheitId=63189&semkez=2009W&lang=en) (2V + 1U) Autumn Semester 2009
**Lecturers and Tutors:** [Sebastian Mödersheim](http://www.zurich.ibm.com/~smo/) and [Christoph Sprenger](https://archiv.infsec.ethz.ch/people/csprenge.html)
- The lecture treats formal and cryptographic methods for the modelling and analysis of security-critical systems. The first and main part of the lecture will concentrate on cryptographic protocols. Cryptographic protocols such as SSL/TLS, SSH, Kerberos and IPSec, form the basis for secure communication and business processes. Numerous attacks on published protocols, such as public-key Kerberos, show that the design of these protocols is extremely error-prone. A rigorous analysis of these protocols is therefore indispensable. Besides an overview of existing analysis methods and tools the lecture will convey the theoretical basis and functioning of some selected methods and tools. The tutorials offer the possibility of applying some tools on concrete protocols. The second part of the lecture will be concerned with formal methods in other parts of information security such as access control.

Colin Boyd and Anish Mathuria. Protocols for Authentication and Key Establishment, Springer, 2003.


### Other Resources
https://arxiv.org/pdf/1101.1815
Approaches to Formal Verification of Security Protocols
Suvansh Lal, Mohit Jain, Vikrant Chaplot
Dhirubhai Ambani Institute of Information and Communication Technology
- To achieve our objective we introduce four well known verification approaches – 1) the **sequential programming** approach; 2 )the **logic programming** approach; 3) the **strand spaces** approach and the 4) **belief based** approach – falling under the broader domains of **model checking** and **logical inference**. Each of the above mention methodologies are applied to formally verify the Needham Schroeder Public Key protocol [3] for Lowe’s attack[4]. In the process of doing so, we compare these approaches for their specification ease, competence in determining complex security flaws; and computational costs. We also make an explicit mention of the advantages and limitations of using these approaches in verifying similar systems.



## Intro
> [!links]
> ↗ [(Formal) Model Checking](../🧳%20(Formal)%20Model%20Checking/(Formal)%20Model%20Checking.md)
> ↗ [Constraint Solving & Theorem Proving](../🎮%20Constraint%20Solving%20&%20Theorem%20Proving/Constraint%20Solving%20&%20Theorem%20Proving.md)
> 
> ↗ [Problem Solving & Search-Based Methods](../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Problem%20Solving%20&%20Search-Based%20Methods.md)
> ↗ [Constraint Based Search & Constraint Programming & Constraint Satisfaction](../../../../🧠%20Computing%20Methodologies/👽%20Artificial%20Intelligence/🗝️%20AI%20Basics%20&%20Major%20Techniques/Problem%20Solving%20&%20Search-Based%20Methods/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction/Constraint%20Based%20Search%20&%20Constraint%20Programming%20&%20Constraint%20Satisfaction.md)

 >[!quote]
 >https://paolo.science/anbxtutorial/tools/OFMC-tutorial.pdf (March 2020)
 >Protocol Security Verification Tutorial
 >Sebastian M ̈odersheim,
 >
 >This tutorial gives an introduction to modeling security protocols and the methods for automated verification that is hopefully easier accessible than research papers. For concreteness it uses OFMC, an automated protocol verification tool written by the author, and thus this document also serves as a tutorial for OFMC. Several other methods and tools are briefly discussed in order to give a broader perspective.
 >
 >In the first part, we will entirely focus on **precisely describing security protocols**, their security goals and a model of the intruder, so that “the protocol is secure” is a **mathematical statement** that is either true or false, and there is a chance to prove or disprove this statement. Disprove also entails finding a **counter-example** to security: an attack.
 >
 >The second part is concerned with methods to automatically find the correct answer, i.e., to find a proof of security or an attack. This is difficult since in general there will be an infinite number of things that can happen in a protocol, so that exhaustive search is impossible. Even under reasonable restrictions that make the search space finite, this is often still practically infeasible. We will focus on two techniques that can in practice often deal well with protocol security problems. One is based on **symbolic representation with constraints** and it can often find attacks quickly; the other is based on **abstract interpretation** and it can often find proofs of security. We will also discuss why the problem is in general undecidable, i.e., there is no hope for finding any verification method that will always answer correctly for all protocols.
 >
 >In the third part, two more advanced topics, namely **channels** and **compositionality**. The idea is that on the Internet we use a lot of protocols in parallel and in a stacked fashion, e.g., using TLS to establish a secure channel and run a banking application over that channel. While one could theoretically verify such a composed system, this becomes easily too complex to handle. Also, we would like protocol designers to design a protocol like TLS independent of the actually payload protocols that it will be used for later. The key of compositional reasoning is to just allow this component-wise development, i.e., that the composed system is secure if the components are.


### Protocol Security Overview
“Logical Hacking” and Security Proofs
- What is an “attack”? (and what is not?)
- How can we automatically find attacks?
- How can we prove the security of a system?
	- ... not just with respect to currently known attacks, but against any attacks!
	- Is that even possible?
	- Can we do that even automatically?
- How can we build systems that are secure? 
	- This requires a precise definitions of
		- the systems in questions
		- its goals
		- the assumptions (in particular, the intruder)

Overview of Problem Areas
- Example: Alice wants to tell her bank to transfer 1000 Kr. to Bob.
	- What are the involved goals?
		- Authentication/Integrity
		- Confidentiality/Privacy
		- Accountability/Non-repudiation
	- Involved Cryptographic Protocols: (could be)
		- TLS
		- The banking application
		- Some login like MitID (also over TLS? Same session?)
	- Implementation
		- Crypto API
		- All the non-crypto aspects, like parsing message formats.
	- Other layers
		- Design and implementation of policies
		- Operating system, compiler
		- Hardware, TPMs
		- Network layer


### Alice and Bob Notation & AnB Language (Syntax & Semantics) ⭐
↗ [Formal Verification & Analysis Programming Languages](../../../../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/Other%20Languages%20for%20Specific%20Areas/Formal%20Verification%20&%20Analysis%20Programming%20Languages/Formal%20Verification%20&%20Analysis%20Programming%20Languages.md)
- ↗ [AnB (Alice and Bob) Notation & AnBx Languages](../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/Other%20Languages%20for%20Specific%20Areas/Formal%20Verification%20&%20Analysis%20Programming%20Languages/AnB%20(Alice%20and%20Bob)%20Notation%20&%20AnBx%20Languages.md)

↗ [Strand Spaces Model](../../../🚬%20Cryptology%20&%20Secure%20Communication/🛀%20Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Symbolic%20(Formal)%20Models/Strand%20Spaces%20Model.md)


**Table 1:** Standard function symbols for protocol verification.

| Symbol | Arity | Meaning (informal) | Public |
|---|---|---|---|
| $i$ | $0$ | name of the intruder | yes |
| $\operatorname{inv}(\cdot)$ | $1$ | private key of a given public key | no |
| $\{\cdot\}_{\cdot}$ | $2$ | asymmetric encryption | yes |
| $\{\cdot\}_{\cdot}$ | $2$ | symmetric encryption | yes |
| $\langle \cdot,\cdot \rangle$ | $2$ | pairing/concatenation | yes |
| $\operatorname{exp}(\cdot,\cdot)$ | $2$ | exponentiation modulo fixed prime $p$ | yes |
| $a,b,c,\ldots$ | $0$ | User-defined constants | User-def. |
| $f(\cdot)$ | $\star$ | User-defined function symbol $f$ | User-def. |


> [!example]
> ↗ [Needham–Schroeder Protocol](../../../🚬%20Cryptology%20&%20Secure%20Communication/Key%20Management/📌%20Key%20Management%20Algorithms%20&%20Protocols/👥%20Key%20Agreement,%20Transport,%20and%20Exchange%20(one-to-one)/Key%20Transport%20Algorithms%20&%20Protocols/Needham–Schroeder%20Protocol.md)
> NSPK protocol expressed as in AnB language, message sequence chart, and Role /Strand
> 
> ==AnB language:==
> ```AnB
> Protocol : NSPK
> Types : Agent A , B ;
> 		Number NA , NB ;
> 		Function pk , h
> Knowledge : A : B : A , pk ( A ) , inv ( pk ( A )) , B , pk ( B ) , h ;
> 			B , pk ( B ) , inv ( pk ( B )) , A , pk ( A ) , h
> Actions :
> A - > B : { NA , A }( pk ( B ))  # A generates NA
> B - > A : { NA , NB }( pk ( A )) # B generates NB
> A - > B : { NB }( pk ( B ))
> 
> Goals :
> h(NA, NB) secret between A , B
> ```
> 
> ==Message sequence chart:==
> ```tikz
> \begin{document}
> \begin{tikzpicture}[
>   font=\Large,
>   linebase/.style={line width=1.2pt},
>   dot/.style={circle, fill=black, inner sep=0pt, minimum size=7pt},
>   lab/.style={midway, above, inner sep=3pt}
> ]
> % \tikzset{>=stealth'} % bigger arrowheads
> % this is not working in obsidian tikz?
> 
> % X positions
> \def\xA{0}
> \def\xB{10}
> \def\d{0.18}
> 
> % Y positions
> \def\yTop{6.5}
> \def\yOne{4.5}
> \def\yTwo{2.2}
> \def\yThree{-0.1}
> 
> % Participant boxes
> \node[draw, minimum width=12mm, minimum height=12mm] at (\xA,\yTop) {\textit{A}};
> \node[draw, minimum width=12mm, minimum height=12mm] at (\xB,\yTop) {\textit{B}};
> 
> % Dots
> \node[dot] (A1) at (\xA,\yOne) {};
> \node[dot] (A2) at (\xA,\yTwo) {};
> \node[dot] (A3) at (\xA,\yThree) {};
> 
> \node[dot] (B1) at (\xB,\yOne) {};
> \node[dot] (B2) at (\xB,\yTwo) {};
> \node[dot] (B3) at (\xB,\yThree) {};
> 
> % Lifelines A
> \draw[linebase] (\xA-\d,\yTop-0.6) -- (\xA-\d,\yOne);
> \draw[linebase] (\xA+\d,\yTop-0.6) -- (\xA+\d,\yOne);
> \draw[linebase] (\xA,\yOne) -- (\xA,\yTwo);
> \draw[linebase] (\xA-\d,\yTwo) -- (\xA-\d,\yThree);
> \draw[linebase] (\xA+\d,\yTwo) -- (\xA+\d,\yThree);
> 
> % Lifelines B
> \draw[linebase] (\xB,\yTop-0.6) -- (\xB,\yOne);
> \draw[linebase] (\xB-\d,\yOne) -- (\xB-\d,\yTwo);
> \draw[linebase] (\xB+\d,\yOne) -- (\xB+\d,\yTwo);
> \draw[linebase] (\xB,\yTwo) -- (\xB,\yThree);
> 
> % Messages
> \draw[->, linebase] (A1) -- (B1)
>   node[lab] {$\{NA,A\}_{pk(B)}$};
> 
> \draw[<-, linebase] (A2) -- (B2)
>   node[lab] {$\{NA,NB\}_{pk(A)}$};
> 
> \draw[->, linebase] (A3) -- (B3)
>   node[lab] {$\{NB\}_{pk(B)}$};
> 
> \end{tikzpicture}
> \end{document}
> ```
> 
> ==Roles and strands:==
> ```tikz
> \begin{document}
> \begin{tikzpicture}[
>   font=\Large,
>   linebase/.style={line width=1.4pt},
>   dot/.style={circle, fill=black, inner sep=0pt, minimum size=8pt},
>   lab/.style={midway, above, inner sep=3pt}
> ]
> 
> % ===== Geometry =====
> \def\d{0.18} % separation for double lifelines
> \def\yTop{6.5}
> \def\yOne{4.5}
> \def\yTwo{2.2}
> \def\yThree{-0.1}
> 
> % Left half x positions
> \def\xAL{0}
> \def\xBL{8}
> 
> % Right half x positions
> \def\xAR{16}
> \def\xBR{24}
> 
> % ===== LEFT HALF =====
> % A label box (left)
> \node[draw, minimum width=12mm, minimum height=12mm] at (\xAL,\yTop) {\textit{A}};
> 
> % A events (left)
> \node[dot] (AL1) at (\xAL,\yOne) {};
> \node[dot] (AL2) at (\xAL,\yTwo) {};
> \node[dot] (AL3) at (\xAL,\yThree) {};
> 
> % A lifelines (left): double, single, double
> \draw[linebase] (\xAL-\d,\yTop-0.6) -- (\xAL-\d,\yOne);
> \draw[linebase] (\xAL+\d,\yTop-0.6) -- (\xAL+\d,\yOne);
> \draw[linebase] (\xAL,\yOne) -- (\xAL,\yTwo);
> \draw[linebase] (\xAL-\d,\yTwo) -- (\xAL-\d,\yThree);
> \draw[linebase] (\xAL+\d,\yTwo) -- (\xAL+\d,\yThree);
> 
> % Messages (left)
> \draw[->, linebase] (AL1) -- (\xBL,\yOne)
>   node[lab] {$\{NA,A\}_{pk(B)}$};
> \draw[<-, linebase] (AL2) -- (\xBL,\yTwo)
>   node[lab] {$\{NA,NB\}_{pk(A)}$};
> \draw[->, linebase] (AL3) -- (\xBL,\yThree)
>   node[lab] {$\{NB\}_{pk(B)}$};
> 
> % ===== RIGHT HALF =====
> % B label box (right)
> \node[draw, minimum width=12mm, minimum height=12mm] at (\xBR,\yTop) {\textit{B}};
> 
> % B events (right)
> \node[dot] (BR1) at (\xBR,\yOne) {};
> \node[dot] (BR2) at (\xBR,\yTwo) {};
> \node[dot] (BR3) at (\xBR,\yThree) {};
> 
> % B lifelines (right): single, double, single
> \draw[linebase] (\xBR,\yTop-0.6) -- (\xBR,\yOne);
> \draw[linebase] (\xBR-\d,\yOne) -- (\xBR-\d,\yTwo);
> \draw[linebase] (\xBR+\d,\yOne) -- (\xBR+\d,\yTwo);
> \draw[linebase] (\xBR,\yTwo) -- (\xBR,\yThree);
> 
> % Messages (right)
> \draw[->, linebase] (\xAR,\yOne) -- (BR1)
>   node[lab] {$\{NA,A\}_{pk(B)}$};
> \draw[<-, linebase] (\xAR,\yTwo) -- (BR2)
>   node[lab] {$\{NA,NB\}_{pk(A)}$};
> \draw[->, linebase] (\xAR,\yThree) -- (BR3)
>   node[lab] {$\{NB\}_{pk(B)}$};
> 
> \end{tikzpicture}
> \end{document}
> ```
> - For each **Role** of the protocol, a program that sends and receives messages (over possibly insecure network)
> - **Strand**: concrete execution of a role: all variables (here A, B, NA, NB) instantiated with concrete values
> 	- or a prefix thereof (an agent might not finish)
> 
> ==Attacks in strands semantic== (Dolve-Yao model)
> 
> ```tikz
> \begin{document}
> \begin{tikzpicture}[
>   font=\Large,
>   linebase/.style={line width=1.2pt},
>   dot/.style={circle, fill=black, inner sep=0pt, minimum size=8pt},
>   lab/.style={midway, above, inner sep=3pt}
> ]
> 
> % ===== X positions =====
> \def\xA{0}
> \def\xI{8}
> \def\xB{16}
> \def\d{0.18} % separation for double lifelines
> 
> % ===== Y positions =====
> \def\yTop{7.6}  % box baseline-ish
> \def\yAone{6.0}
> \def\yAtwo{0.4}
> 
> \def\yIone{6.0}
> \def\yItwo{4.2}
> \def\yIthree{2.4}
> \def\yIfour{0.4}
> 
> \def\yBone{4.2}
> \def\yBtwo{2.4}
> 
> % ===== Participant boxes =====
> \node[draw, minimum width=10mm, minimum height=10mm] at (\xA,\yTop) {$a$};
> \node[draw, minimum width=10mm, minimum height=10mm] at (\xI,\yTop) {$i$};
> \node[draw, minimum width=10mm, minimum height=10mm] at (\xB,\yTop) {$b$};
> 
> % ===== Event dots =====
> \node[dot] (A1) at (\xA,\yAone) {};
> \node[dot] (A2) at (\xA,\yAtwo) {};
> 
> \node[dot] (I1) at (\xI,\yIone) {};
> \node[dot] (I2) at (\xI,\yItwo) {};
> \node[dot] (I3) at (\xI,\yIthree) {};
> \node[dot] (I4) at (\xI,\yIfour) {};
> 
> \node[dot] (B1) at (\xB,\yBone) {};
> \node[dot] (B2) at (\xB,\yBtwo) {};
> 
> % ===== Lifelines: a =====
> % double from box to first dot
> \draw[linebase] (\xA-\d,\yTop-0.6) -- (\xA-\d,\yAone);
> \draw[linebase] (\xA+\d,\yTop-0.6) -- (\xA+\d,\yAone);
> % single down to bottom dot
> \draw[linebase] (\xA,\yAone) -- (\xA,\yAtwo);
> 
> % ===== Lifelines: i =====
> % single from box to top dot
> \draw[linebase] (\xI,\yTop-0.6) -- (\xI,\yIone);
> % double between I1 and I2
> \draw[linebase] (\xI-\d,\yIone) -- (\xI-\d,\yItwo);
> \draw[linebase] (\xI+\d,\yIone) -- (\xI+\d,\yItwo);
> % single between I2 and I3
> \draw[linebase] (\xI,\yItwo) -- (\xI,\yIthree);
> % double between I3 and I4
> \draw[linebase] (\xI-\d,\yIthree) -- (\xI-\d,\yIfour);
> \draw[linebase] (\xI+\d,\yIthree) -- (\xI+\d,\yIfour);
> 
> % ===== Lifelines: b =====
> % single from box to B1
> \draw[linebase] (\xB,\yTop-0.6) -- (\xB,\yBone);
> % double between B1 and B2
> \draw[linebase] (\xB-\d,\yBone) -- (\xB-\d,\yBtwo);
> \draw[linebase] (\xB+\d,\yBone) -- (\xB+\d,\yBtwo);
> 
> % ===== Messages =====
> % m1: a -> i (blue)
> \draw[->, linebase] (A1) -- (I1)
>   node[lab] {${\color{blue} m_1}$};
> 
> % m2: i -> b
> \draw[->, linebase] (I2) -- (B1)
>   node[lab] {$m_2$};
> 
> % m3: b -> i (blue), leftwards
> \draw[<-, linebase] (I3) -- (B2)
>   node[lab] {${\color{blue} m_3}$};
> 
> % m4: i -> a (red), leftwards at bottom
> \draw[<-, linebase] (A2) -- (I4)
>   node[lab] {${\color{red} m_4}$};
> 
> \end{tikzpicture}
> \end{document}
> ```
> 
> An attack is a strand space where the following conditions are met:
> - Messages sent by honest agents are received by `i`
> - Messages received by honest agents are sent by `i` who can compose the message from the messages he has received so far.
> 	- In the example: $\{m_1\}⊢m_2$ and $\{\color{blue}m_1, m_3\color{black}\}⊢\color{red}m_4\color{black}$.
> - The successful completion violates a goal of the protocol.



## 1️⃣ Security Protocols Modeling & Intruder Models
↗ [Cryptographic Protocols Modeling & Verification](Cryptographic%20Protocols%20Modeling%20&%20Verification/Cryptographic%20Protocols%20Modeling%20&%20Verification.md)

↗ [Cryptology & Secure Communication](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/Cryptology%20&%20Secure%20Communication.md)
- ↗ [Cryptography](../../../../../../🚬%20Cryptology%20&%20Secure%20Communication/🤐%20Cryptography/Cryptography.md)
- ↗ [Cryptographic Protocols Modeling & Models of Communication (and Intruder)](../../../🚬%20Cryptology%20&%20Secure%20Communication/🛀%20Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder).md) ✅
	- ↗ [Dolev–Yao (DY) Model & Extended Dolev–Yao Models](../../../🚬%20Cryptology%20&%20Secure%20Communication/🛀%20Cryptographic%20Protocols%20Modeling%20&%20Models%20of%20Communication%20(and%20Intruder)/Symbolic%20(Formal)%20Models/Dolev–Yao%20(DY)%20Model%20&%20Extended%20Dolev–Yao%20Models.md)

↗ [Term Algebra & Free Algebra](../../../../../../../🧮%20Mathematics/🧊%20Algebra/🎃%20Algebraic%20Structure%20&%20Abstract%20Algebra%20&%20Modern%20Algebra/👽%20Universal%20Algebra%20(泛代数)/Term%20Algebra%20&%20Free%20Algebra.md)



## 2️⃣ Automated Verification of Security Protocols
> [!links]
> ↗ [Software (Program) Verification](../Software%20(Program)%20Verification/Software%20(Program)%20Verification.md)
> ↗ [(Formal) Model Checking](../🧳%20(Formal)%20Model%20Checking/(Formal)%20Model%20Checking.md)



## Ref
