# Interactive Proofs (IP) & Interactive Polynomial-Time Verification

[TOC]



## Res
### Related Topics


### Other Resources



## Intro



## Ref
